[Unit]
Description=Glances with Docker
Requires=docker.service

[Service]
User=glances
Group=glances
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/docker-compose/glances/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/docker-compose/glances/docker-compose.yml down

[Install]
WantedBy=default.target
