[Unit]
Description=libreSpeed with Docker
Requires=docker.service

[Service]
User=libreSpeed
Group=libreSpeed
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/docker-compose/libreSpeed/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/docker-compose/libreSpeed/docker-compose.yml down

[Install]
WantedBy=default.target
