[Unit]
Description=pyload with Docker
Requires=docker.service

[Service]
User=pyload
Group=pyload
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/docker-compose/pyload/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/docker-compose/pyload/docker-compose.yml down

[Install]
WantedBy=default.target
