[Unit]
Description={{ application.name }} with Docker
Requires=docker.service

[Service]
User={{ application.name | lower }}
Group={{ application.name | lower }}
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/docker-compose/{{ application.name | lower }}/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/docker-compose/{{ application.name | lower }}/docker-compose.yml down

[Install]
WantedBy=default.target
